ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
}

ul li {
    float: left;
    border-right: 1px solid #bbbbbb;
}

ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li:last-child {
    border-right: none;
}

ul li a:hover {
    background-color: #c7c9ce;
    color: white;
}