<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script defer src="{{ url_for('static', filename='quiz.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='quizStyle.css') }}">
	
	<link href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">

	<link rel="icon" type="image/x-icon" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
	<link rel="icon" type="image/x-icon" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}">

	<title>Er du en av våre fremtidige ansatte?</title>
</head>
<body>
	<header>
		<h1 class="title"><u>Er du en av våre fremtidige ansatte?</u></h1>
	</header>

	<section>
		<h4></h4>
		<br>
		<p>Test deg selv!</p>
		<button id="startBtn">Start Quiz</button>
	</section>

	<!-- QUIZ Panell -->
	<div class="modalContainer" id="modal_Container">
		<div class="modal">
			<div class="modalHeader">
				<button id="closeBtn"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#344059"><path d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg></button>
			</div>
			<div class="modalBody">
				<h2 id="question">Spørsmål</h2>
				<div id="answerBtns">
					<button class="btn">Answer 1</button>
					<button class="btn">Answer 2</button>
					<button class="btn">Answer 3</button>
					<button class="btn">Answer 4</button>
				</div>
				<br>
				<div id="nextBtn">Next</div>
				<div id="recruitBtn">Søk hos oss</div>
			</div>
		</div>
	</div>

	<script>
    	const recruitmentUrl = "{{ url_for('recruitment') }}";
	</script>

</body>
</html>